#page-login{
    display:flex;
    height:100vh;
    padding: 120px 80px;
    display:flex;
    align-items:center;
    justify-content:center;
}
#page-login div{
    background:#835afd;
    padding: 120px 80px;
    display:flex;
    align-items:center;
    justify-content:center;
}
#page-login span{
    font-weight: bold;
    padding: 0cm
}
#page-login button{
    margin:auto;
    margin-top:64px;
    height:50px;
    max-width:500px;
    border-radius:8px;
    font-weight: 500;
    background:#372d55;
    color:#FFF;
    padding:0 32px;
    

    
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:center;

    cursor:pointer;
    border:0;
    transition: filter 0.2s;
    
}
header{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 40px 10px;
}
h2{
    font-size: 700;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
input{
    height:50px;
    border-radius: 8px;
    padding: 0 16px;
    background:#FFF;
    border: 1px solid #a8a8b3;
}
button{
    margin-top:64px;
    height:50px;
    border-radius:8px;
    font-weight: 500;
    background:#372d55;
    color:#FFF;
    padding:0 32px;


    
    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    border:0;
    transition: filter 0.2s;
}
input{
    width: 100%;
}